* {
    background-color: rgb(21, 40, 39);
    color: #fff;
}

p {
    color:rgb(188, 255, 220)
}

#title-1 {
    border: 1px solid white;
    border-radius: 10px;
}

.bg-yellow {
    background-color: rgb(255, 255, 174);
}

[id] {
    background-color: rgb(29, 85, 51);
}

[id = "title-1"] {
    color:rgb(242, 16, 0)
}

[href="https://www.yahoo.com"] {
    text-decoration: none;
    font-weight: bolder;
}

[class^="title"] {
    display: flex;
    justify-content: center;
}