body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.container {
    width: 20rem;
    height: 20rem;
    margin-top: 2rem;
    background-color: aquamarine;
    border: 1px solid cadetblue;
    outline: 7px dotted violet;
    transition: calc(0.8s)
}

.container:hover {
    outline: 15px dotted rgb(143, 2, 143);
    transition:calc(0.8s)
}