html {
    background-color: aquamarine;
}

.lorem {
    column-count: 3;
    column-gap: 40px;
    column-rule: ridge 2px red;
}

.title:hover {
    color: brown;
}

.lorem:hover {
    background-color: yellowgreen;
    color: rgb(132, 0, 255);
}